@tailwind base;
@tailwind components;
@tailwind utilities;

/* REQUIRED FOR ALPINE: Hides elements before JS loads to prevent duplicate icons */
[x-cloak] {
    display: none !important;
}

@layer base {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        @apply transition-all duration-150 rounded-xl border border-slate-200 placeholder-slate-400 font-medium;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        @apply border-[#F1804E] ring-[#F1804E]/20;
    }

    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear,
    input[type="password"]::-webkit-contacts-auto-fill-button,
    input[type="password"]::-webkit-credentials-auto-fill-button {
        display: none !important;
        appearance: none !important;
    }
}

.custom-pagination nav span[aria-current="page"] > span,
.custom-pagination nav span[aria-current="page"] > button {
    background-color: #e26a35 !important;
    color: #ffffff !important;
    border-color: #e26a35 !important;
}

.custom-pagination nav a:hover,
.custom-pagination nav button:hover {
    color: #e26a35 !important;
    background-color: #fff5f0 !important;
}

.custom-pagination nav a:focus,
.custom-pagination nav button:focus {
    outline: none !important;
    border-color: #e26a35 !important;
    box-shadow: 0 0 0 1px #e26a35 !important;
}

.custom-pagination nav a:hover svg {
    color: #e26a35 !important;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
}